html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, arial, freesans, clean, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: #777;
    background-color: #fff;
    max-width: 960px;
    margin: 0 auto;
}

.content {
    width: 100%;
    margin: 30px 0 100px 0;
    font-family: Microsoft YaHei Light, Microsoft YaHei, "黑体", sans-serif;
}

.content {
    width: 100%;
    padding: 15px 30px;
    background-color: #fff;
    box-shadow: 0 0 10px #ccc;
}

h1.info {
    font-weight: 200;
    color: #444;
    border-bottom: 1px solid #ddd;
    padding-bottom: 14px;
}

h4 {
    font-size: 16px;
}

p {
    margin: 15px 0;
}

h4.info {
    font-weight: 200;
    color: #777;
}

h4.info a {
    text-decoration: none;
    color: #777;
    margin-right: 50px;
}

h4.info .email {
    margin-right: 50px;
}

.iconfont {
    color: #777;
}

h4.info a .iconfont {
    font-size: 20px;
    vertical-align: middle;
}

h3 {
    font-size: 18px;
}

.title {
    font-weight: 200;
    color: #444;
    font-size: 18px;
    margin-top: 30px;
}

.experience li p{
    line-height: 34px;
}

.content ul {
    color: #777;
}

.project {
    color: #777;
}

.skills a {
    text-decoration: none;
    color: #777;
}

.project p span:first-child {
    display: inline-block;
    vertical-align: top;
    width: 30%;
}

.project p span {
    display: inline-block;
    width: 68%;
}

.project a {
    text-decoration: none;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #ccc;
    margin-right: 4px;
}

.project li {
    margin-bottom: 24px;
}

.favorite{
    margin-left: 24px;
}

.favorite span {
    background-color: #eee;
    margin-bottom: 10px;
    padding: 5px;
}

.evaluation li{
    margin-top: 15px;
}

.thanks {
    margin-top: 80px;
    text-align: center;
    color: #777;
}
